---
import PageLayout from '@/layouts/PageLayout.astro';
import type { Page } from '@/types';
import Friend from '@/components/Friend';
import { getCollection } from 'astro:content';
import { FRIENDS_COLLECTION_NAME } from '@/constants';
const page: Page = {
  title: 'Friendship Links',
  description: '「The flower-lined path has never been swept for guests, yet for you, dear friend, I open my humble gate.」',
  image: import('src/assets/friends-bg.avif'),
}
const friendEntries = await getCollection(FRIENDS_COLLECTION_NAME);
---
<PageLayout 
  page={page} 
  hasFooter={true}
  hasHero={true}
  hasNavbar={true}
  hasComment={true} 
  hasSidebar={false}
>
  <section class="mb-6 not-prose">
    <h2 class="text-xl font-bold mb-3">Connect with Me</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {friendEntries.map(entry => (
        <Friend {...entry.data} />
      ))}
    </div>
  </section>
  <section class="prose dark:prose-invert dark:prose-dark plate-bg border-highlight p-4 md:p-8 rounded-xl">
    <p>Although this site is not intended for widespread dissemination, like-minded friends are always welcome. If you wish to request a link exchange, there are two ways to do so:</p>
    <ol>
      <li>Leave a message below with your name, website address, description, avatar link, theme color, and font color.</li>
      <li>Alternatively, you can submit a pull request to my <a href="https://github.com/dragonjay-lyj/astro-mecure/pulls" target="_blank">GitHub repository</a>. In the directory `\\src\\content\\friends\\`, add a JSON file named `<your-name>.json`, Please refer to the existing files for formatting.</li>
    </ol>
  </section>
</PageLayout>
