---
import PageLayout from '@/layouts/PageLayout.astro';
import type { Page } from '@/types';
import Friend from '@/components/Friend';
import { getCollection } from 'astro:content';
import { FRIENDS_COLLECTION_NAME } from '@/constants';
const page: Page = {
  title: 'Friendship Links',
  description: '「My humble abode has never seen such esteemed guests, the door is always open to friends like you.」',
  image: import('src/assets/friends-bg.avif'),
}
const friendEntries = await getCollection(FRIENDS_COLLECTION_NAME);
---
<PageLayout 
  page={page} 
  hasFooter={true}
  hasHero={true}
  hasNavbar={true}
  hasComment={true} 
  hasSidebar={false}
>
  <section class="mb-6 not-prose">
    <h2 class="text-xl font-bold mb-3">Connect with Me</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {friendEntries.map(entry => (
        <Friend {...entry.data} />
      ))}
    </div>
  </section>
  <section class="prose dark:prose-invert dark:prose-dark plate-bg border-highlight p-4 md:p-8 rounded-xl">
    <p>While this website isn't built for mass appeal, I welcome all kindred spirits! If you'd like to exchange friendly links, here are two ways to do so:</p>
    <ol>
      <li>Leave a comment below with your website's name, URL, a brief description, avatar link, theme color, and font color.</li>
      <li>Submit a pull request (PR) to this website's <a href="https://github.com/dragonjay-lyj/astro-mecure/pulls" target="_blank">GitHub repository</a>. Add a <code>&ltyour-name&gt</your-name>.json</code>file to the<code>\src\content\friends\</code>directory,following the format of the existing files.</li>
    </ol>
  </section>
</PageLayout>
